@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "theme", "breakpoints", "tablet");

@media (max-width: $tablet) {
  .c__header {
    border-bottom: 0;
  }
}

.drive__header__logo {
  background-image: url("/assets/logo.svg");
  width: 151px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.drive__header__operator {
  font-size: 22px;
  font-weight: 400;
  color: #2845c1;
  position: relative;
  top: 1px;
}

.c__header__right {
  display: flex;
  align-items: center;
  gap: 1rem;

  .explorer__search__button {
    display: none;
  }

  @media (max-width: $tablet) {
    .drive__header__login-button {
      display: none;
    }

    .c__feedback__button {
      display: none;
    }

    .c__dropdown-menu-trigger {
      display: none;
    }

    .explorer__search__button {
      display: flex;
    }

    .lasuite-gaufre-btn {
      display: none !important;
    }
  }
}
