.dc__organizations__search {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;

  .c__input {
    flex: 1;
  }

  &__filters {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
    flex-grow: 0;

    > * {
      width: 220px;
    }
  }
}
