@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "theme", "breakpoints", "tablet");

.dc__container__wrapper {
  display: flex;
  min-height: calc(100vh - 52px);

  justify-content: center;
  align-items: flex-start;
  position: relative;

  padding: 16px;
  background-color: var(--c--theme--colors--greyscale-050);

  @media (max-width: $tablet) {
    padding: 0;
  }

  .dc__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 992px;

    @media (max-width: $tablet) {
      gap: 0;
      width: 100%;
    }
  }

  .dc__container__content {
    border: 1px var(--c--theme--colors--greyscale-200) solid;
    flex: 1;
    background-color: #fff;

    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: content-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &__title {
      font-size: 22px;
      font-weight: 700;
      color: var(--c--theme--colors--greyscale-1000);

      &--small {
        font-size: 16px;
        font-weight: 700;
        color: var(--c--theme--colors--greyscale-1000);
      }
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 400;
      color: var(--c--theme--colors--greyscale-600);
      margin-bottom: 16px;
    }
  }
}
